<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd" >
<!--    双向注入-->
    <bean id="adminService" name="wwww2,12345" class="com.example.demo2.Service.Impl.AdminServiceImpl" scope="singleton" lazy-init="true">
        <property name="userService" ref="userService"/>
    </bean>
    <bean id="userService" name="wwww1,1234" class="com.example.demo2.Service.Impl.UserServiceImpl" scope="singleton">
        <property name="adminService" ref="adminService"/>
    </bean>
</beans>