<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd" >
<!--    注册bean，扔到ioc容器中-->
    <bean id="userService" class="com.example.demo1.Service.Impl.UserServiceImpl"></bean>

</beans>